@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

.section {
  width: 100%;
  min-width: 1170px;
  position: relative;
  padding: 40px 0;
  line-height: 1.4;
  transition: 0.5s all;
  opacity: 1;
}

.content {
  min-height: 400px;
  position: relative;
  width: 1170px;
  font-size: 13px;
  margin: 0 auto;
}

/* Header block */
header.section {
  padding: 0;
}

nav {
  width: 100%;
  height: 20%;
  background-color: #fff;
  clear: both;
  overflow: auto;
  z-index: 3;
}

nav .logo img {
  padding: 10px;
  float: left;
}

nav ul {
  display: flex;
  align-items: center;
  float: right;
}
nav li {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav a:hover {
  color: gray;
  font-weight: 700;
}

nav a {
  display: block;
  color: black;
  text-decoration: none;
  line-height: 60px;
  padding: 15px 35px;
  cursor: pointer;
  margin: 0 25px;
  cursor: pointer;
}

nav a:after {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
  position: relative;
  display: block;
  content: "";
  background-color: gray;
  height: 3px;
  width: 0;
  top: 2.5px;
  left: 50%;
}

nav a:hover:after,
nav a:focus:after {
  width: 125%;
}

.about-text {
  font-size: 22px;
  text-align: center;
}

/* Preview section */
.preview {
  background-image: url(../img/previewGroupImg.jpeg);
  background-size: cover;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-bottom: none;
}

.dark-background {
  background: linear-gradient(to bottom, #776058 0%, #000000 100%);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
}

.preview .content {
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.content-layer .title-block {
  text-align: center;
  line-height: normal;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
}

.content-layer .title-block span {
  font-size: 72px;
}

.content-layer .sub-title-block {
  margin-bottom: 5%;
  color: #fff;
}

.btn {
  background-color: #424242;
  border-radius: 0;
  box-shadow: 0 0.25em 0px 0.01em rgb(36, 36, 36);
  margin: 30px auto 0;
  width: 300px;
  height: 60px;
  font-size: 22px;
  line-height: 54px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
  margin-bottom: 100px;
}

.btn:hover {
  background-color: rgb(66, 66, 66);
  box-shadow: none;
  border-radius: 0px;
}

.btn:active {
  filter: invert(25%);
  transform: scale(0.98);
}

/* Schedule section */
.schedule {
  padding-top: 2.5%;
  padding-bottom: 5%;
}
.title {
  text-align: center;
  font-size: 28px;
}

.sub-title {
  text-align: center;
  margin-bottom: 2%;
}

/* Schedule table */

.content-table {
  max-width: 1170px;
  margin: 0 auto;
}

.table {
  /* overflow-y: scroll; */
  overflow-x: visible;
  font-size: 16px;
  min-width: 800px;
}

.table strong,
.table .col {
  font-size: 16px;
}

.row {
  display: flex;
  border-bottom: solid 1px #e2e2e2;
}

.row:first-child {
  border-top: solid 1px #e2e2e2;
}

.col:first-child {
  border-left: solid 1px #e2e2e2;
}

.col {
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  border-right: solid 1px #e2e2e2;
  word-break: break-all;
  padding: 10px;
}

/* Opportunities section */
.opportunities {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #424242;
}

.achieveopportunitiesments .title {
  text-align: center;
}

.opportunities .title span {
  font-family: Neucha;
}

.content-items {
  display: flex;
  margin-left: -1%;
  margin-top: 5%;
}

.item {
  width: 32%;
  margin-left: 1%;
  margin-bottom: 1%;
  color: #fff;
}

.item .item-title span {
  font-family: Neucha;
  font-size: 28px;
}

.item .item-title {
  margin-top: 4%;
  text-align: center;
}

.item .item-icon {
  position: relative;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  display: block;
  line-height: 120px;
  text-align: center;
  font-size: 64px;
  border-radius: 50%;
  border: solid 2px;
}

/* About Section */
.about {
  background-color: #f8f8f8;
}

.about .content {
  display: flex;
  background-color: #fff;
  color: #333;
  min-height: 150px;
}

.about .content-image {
  box-sizing: border-box;
  width: 456px;
  height: 300px;
}

.about .description {
  margin-left: 3%;
  width: calc(100% - 500px);
}

.about .description-title {
  border-bottom: solid 1px #e2e2e2;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 22px;
}

.about .description-content {
  font-size: 16px;
}

/* Gallery Section */
.gallery .title {
  margin-bottom: 2%;
}

.gallery .content {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 32%;
  margin-right: 1%;
  height: 280px;
  margin-left: 0;
}

.gallery-image img {
  position: relative;
  width: 100%;
  height: auto;
}

/* Contuct us section */
.contact-us {
  background-image: url(../img/contact_us_bg.jpg);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-us .bg-blur {
  background-color: #e2e2e2;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-us .content {
  width: 940px;
}

.contact-us .title {
  font-weight: 500;
  margin-bottom: 2.5%;
}

.contact-us .contact-form {
  background: #f9f9f9;
  border: solid 7.5px #fff;
  width: 580px;
  margin: 0 auto;
}

.contact-form form {
  padding: 40px;
  font-family: Roboto;
}

.contact-form label {
  margin-bottom: 1%;
  font-size: 16px;
  float: left;
}

.contact-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 10px;
  border: none;
  margin-bottom: 40px;
  outline: 0;
  background: 0 0;
  border-bottom: 2px solid #ccc;
  transition: 0.3s all;
}

.contact-form input:hover {
  border-bottom: 2px solid #fff;
}

.button-wrapper {
  text-align: center;
}

.contact-form button {
  width: 75%;
  height: 50px;
  background-color: #424242;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  transition: 0.3s all;
}

.contact-form button:hover {
  background-color: #4e4e4e;
  border-radius: 10px;
}

/* Contacts information section */
.contacts .content {
  width: 940px;
  min-height: 200px;
}

.contacts-content {
  width: 55%;
  padding-left: 3.5%;
  float: left;
}

.contacts .social-icons-block {
  width: 40%;
  float: right;
  text-align: center;
}

.social-icons-block .icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: center;
  white-space: normal;
}

.social-icons-block .item {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  margin: 5px 25px;
  font-family: FontAwesome;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  filter: grayscale(60%);
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-icons-block .item:hover {
  opacity: 0.8;
  font-size: 18px;
}

.link-vk {
  background: #507299;
}

.link-youtube {
  background: #e62117;
}

.link-tg {
  background: #6a93c2;
}

.link-inst {
  background: linear-gradient(45deg, #f8cc01 0, #e8102b 51%, #7d39b0 100%);
}

.link-twitch {
  background: #6441a5;
}

.link-fbook {
  background: #3b5998;
}

/* Footer section */

footer {
  padding: 20px 0;
  background-color: #f3f3f3;
}

footer .content {
  display: flex;
  justify-content: space-between;
  min-height: 0;
  flex-wrap: wrap;
  align-items: center;
}

footer .info-text {
  font-size: 18px;
  text-align: center;
  float: right;
  width: 30%;
}

.footer-contacts {
  width: 25%;
  text-align: right;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  background: #ececec;
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #555050;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
}

@media (max-width: 1220px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}

/* Modal window */

.modal-window {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-window-form {
  width: 40%;
  padding: 2.5% 4%;
  margin: auto;
  background-color: #e2e2e2;
  border: solid 5px #fff;
}

.modal-window-form label {
  margin-bottom: 1%;
  font-size: 16px;
  float: left;
}

.modal-window-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 10px;
  border: none;
  margin-bottom: 40px;
  outline: 0;
  background: 0 0;
  border-bottom: 2px solid #ccc;
  transition: 0.3s all;
}

.modal-window-form input:hover {
  border-bottom: 2px solid #fff;
}

.modal-window-form button {
  width: 75%;
  height: 50px;
  background-color: #424242;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  transition: 0.3s all;
}

.modal-window-form button:hover {
  background-color: #4e4e4e;
  border-radius: 10px;
}

.modal-window-form .button-wrapper button {
  margin-top: 5%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(133, 75, 75);
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 400px) {
  .section {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 640px) {
  .section {
    min-width: 360px;
  }

  .content {
    width: 360px;
  }
}

@media screen and (max-width: 800px)  and (min-width: 640px){
  .content,
  .content-table {
    width: 640px;
    position: relative;
  }

  .section {
    min-width: 640px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 960px) and (min-width: 800px) {
  .content,
  .content-table {
    width: 768px;
  }

  .section {
    min-width: 768px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 960px) {
  .content,
  .content-table {
    width: 940px;
  }
  .section {
    min-width: 940px;
  }
}
